.superInput {
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 0 0 2px black;
    margin: 5px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: lightgreen;
}

.errorInput {
    border: 1px solid red;
    background-color: lightcoral;
}

.error {
    color: red;
}