.nav {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.nav a {
	text-decoration: none;
}

.nav_link {
	margin: 10px;
}

.active_link {
	font-weight: bold;
	animation: shadow-blink 1s infinite;
	border-bottom: 2px solid #0000ee;
}

@keyframes shadow-blink {
	0% {
		text-shadow: none;
	}
	50% {
		text-shadow: 0 0 3px black;
	}
	100% {
		text-shadow: none;
	}
}
